.greetings {
  display: flex;
  flex-direction: row; /* Display children in a column layout */
  width: 100%;
  gap: 500px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.good {
  color: #01215b;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .greetings {
    flex-direction: column;
  }
}
