.bulkupload{
    margin-top: 33px;
    font-weight: 600;
    color:#01215b ;

}
.uploads{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #a38526;
    margin-top: 4px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    padding-bottom: 12rem;
    cursor: pointer;
}
.uploads :hover{
    background-color: #01215b;
}
.ul3{
    padding: 0.5rem;
}