/* app/settings/settings.module.css */
.container {
    position: relative;
  }
  
  .sectionBar {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  .sectionBarOpen {
    background-color: #a38526;
  }
  
  .settingsIcon {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .closeIcon {
    margin-left: auto;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }
  
  .toggleIcon {
    margin-left: auto;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
  }
  
  .dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
  }
  
  .dropdownItem {
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropdownItem:hover {
    background-color: brown;
    color: white;
  }
  
  .arrow {
    margin-right: 8px;
    font-size: 12px;
  }