.atm-container {
  display: grid;
  grid-template-rows: 35%, 15%, 1fr, 1fr, 1fr;
  gap: 9px;
  padding-top: 10px;
  width: 100%;

}

/* .item {
.item{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.atm-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #01225d, #081732);
  color: white;
  border-radius: 12px;
  border: none;
}

.atm-card-upper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.atm-card-lower {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.card-details {
  display: flex;
  flex-direction: column;
}

.currency {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: 600;
  border-radius: 7px;
  padding: 1px 8px 1px 8px;
  align-content: center;
  font-size: 12px;
}

.atm-card-logo {
  width: 83.3px;
  height: 36.6px;
}

.account-number {
  color: #a38526;
  font-size: 10px;
}

.account-name {
  font-size: 13px;
}

.item-actual-balance {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 12px;
  border: none;
}

.actual-balance-text {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: #a38526;
  font-size: 10px;
}

.actual-balance {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actual-balance-figure {
  font-weight: 800;
  font-size: 15px;
  color: #01215b;
}

.current-accounts-text {
  color: #01215b;
  font-weight: 800;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  border: none;
}

.item-pending-tasks {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: #a38526;
  border-radius: 12px;
  border: none;
}

.pending-tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-right {
  padding-right: 10px;
}

.pending-task-text {
  color: #ffffff;
  font-size: 11px;
  font-weight: 500;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.total-text {
  font-size: 8px;
  font-weight: 500;
  color: #ffffff;
}

.total-figure {
  font-size: 11px;
  font-weight: 700;
  color: #01215b;
}
.item-pending-transaction {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  padding: 8px;
  background-color: #01215b;
  border-radius: 12px;
  border: none;
}
.pending-transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow-right-gold {
  padding-right: 10px;
}
.pending-transaction-text {
  color: #ffffff;
  font-size: 11px;
  font-weight: 500;
}
.total-figure-transaction {
  font-size: 11px;
  font-weight: 700;
  color: #a38526;
}
.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #a38526;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
