
.services2{
    margin-top: 20px;
    font-weight: 600;
    color:#01215b ;
}
.service{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #a38526;
    margin-top: 0.2px;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
    padding-bottom: 0.5rem;
    cursor: pointer;
}
.service :hover{
    background-color: #01215b;
}
.ul4{
    padding: 0.4rem;
}