.recent_transactions {
  width: 100%;
  height: 90%;
}

.recents {
  display: flex;
  justify-content: left;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  color: #01215b;
  font-size: 15px;
}

.recents h4 {
  color: #a38526;
  font-weight: 200;
  font-family: "Courier Prime", monospace;
  font-size: 0.8rem;
}
.th {
  font-size: 14px;
}
.latest {
  background-color: white;
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  height: inherit;
}
.table {
  border-collapse: collapse;
  width: 100%;
}

.th {
  text-align: left;
  /* padding: 1rem 0rem; */
}

.td {
  text-align: left;
  padding: 0.5rem 0rem;
  border-bottom: #a38526 0.005rem solid;
  font-size: 12px;
}

.tr {
  align-items: left;
  margin-bottom: 0.5rem;
}

.view_all {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding-top: 10px;
  align-items: center;
  padding-right: 50px;
}

.view_all_text {
  font-weight: 700;
  font-size: 10px;
  color: #01215b;
  cursor: pointer;
}

.va_arrow_right_gold {
  width: 16px;
}

.debit {
  color: red;
}

.credit {
  color: rgb(27, 99, 50);
}
