.my-account {
  display: grid;
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
  gap: 9px;
  width: 100%;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-account {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  border-radius: 5px;
  color: #01215b;
  border: none;
}
.select-account-text {
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  width: 100%;
  padding-left: 10px;
  background-image: url("/assets/images/Icon-down.svg");
  background-repeat: no-repeat;
  background-position: right;
  appearance: none;
}

.my-account-text {
  padding-right: 100px;
  color: #01215b;
  border: none;
  display: flex;
  font-weight: 800;
  font-size: 15px;
  /* padding-bottom: 3px; */
  width: 100%;
}
