.select-account {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  color: #01215b;
  border: none;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 25px;
}
.select-account-text {
border: none;
  border-radius: 5px;
padding-left: 40px;
padding-right: 30px;

  background-color:#ffffff;
  background-image: url("/assets/images/Icon-down.svg"); 
  background-position: right center; 
  background-repeat: no-repeat; 
  font-weight: 500;
  font-size: 15px;
  width: 100%;
  appearance: none; 
}



.my-account-text {
  padding-right: 140px;
  border: none;
  display: flex;
  font-weight: 800;
  font-size: 15px;

}
