@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Montserrat";
	font-weight: 300;
}

html body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: #bebaba;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 600;
}

a {
	color: inherit;
	text-decoration: none;
}

.login {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: #ffffff;
}

.left-side {
	height: 100%;
	background-color: rgb(3, 3, 75);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: 800;
	font-size: 3rem;
	line-height: 3rem;
	text-align: left;
}

.left-side h1 {
	text-align: left;
}

.left-side p span {
	color: #a38526;
}

.right-side {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 60%;
	margin: 0 auto;
	background-color: #ffffff;
}

.right-side h2 {
	color: #a38526;
	font-weight: 700;
	font-size: 1.5rem;
	margin-top: 1.5rem;
}

.advice {
	color: #01215b;
	font-weight: 400;
	font-size: 1rem;
	margin-top: 1.5rem;
	font-size: 1.1rem;
	text-align: center;
	max-width: 75%;
}

.login-form {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 0.5rem;
}

input {
	padding: 0.75rem 1rem;
	border: none;
	background-color: #d9d9d9;
	border-radius: 0.25rem;
}

input:focus {
	outline: none;
}

button {
	background-color: #01215b;
	border: none;
	padding: 0.75rem 1rem;
	color: #ffffff;
	border-radius: 0.25rem;
	font-weight: 700;
	cursor: pointer;
	width: 100%;
}

button:hover {
	background-color: #a38526;
	animation-duration: 0.3s;
	color: #01215b;
}

.forgot-password {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 1rem;
	color: #a38526;
	font-weight: 600;
}

.register {
	color: #01215b;
	cursor: pointer;
}

@media screen and (max-width: 960px) {
	.left {
		display: none;
	}
	.login {
		display: flex;
	}
	.right-side {
		max-width: 80%;
	}
	.forgot-password {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-top: 1rem;
		gap: 0.25rem;
	}
	.advice {
		color: #01215b;
		font-weight: 400;
		font-size: 1rem;
		margin-top: 1.5rem;
		font-size: 1rem;
		text-align: center;
		max-width: 85%;
	}
}
.sidebar {
	width: 17rem;
	height: 100%;
	background-color: #ffffff;
	position: relative;
}
.main-body {
	display: flex;
	height: 100vh;
	position: relative;
}

.logodetails {
	padding: 2rem;
}

.nav-links li {
	border-bottom: #bebaba solid 1px;
	text-decoration: none;
	list-style: none;
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 0.75rem 0rem;
}

.bottom {
	bottom: 0;
	background-color: #a38526;
}

.nav-links li a {
	text-decoration: none;
	color: #ffffff;
}

.nav-links {
	padding: 1rem 2rem;
}
