.payments{
    margin-top: 22px;
    font-weight: 600;
    color:#01215b ;

}
.pay{
   

    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #ffffff;
    background-color: #a38526;
    margin-top: 4px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    padding-bottom: 1rem;
}