.form {
  color: #01215b;
  font-weight: bold;
  font-family: montserrat;
  margin-bottom: 0px;
}

.inputField {
  background-color: whitesmoke;
  text-align: left;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
}

.currencySelect {
  background-color: whitesmoke;
  width: 100%;
  border: none;
  text-align:left;
  border-radius: 5px;
  padding-right: 15px;
}

.leftinput1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 10px; /* Change to column for small screens */
}

.leftinput2 {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px; /* Change to column for small screens */
}

.button {
  text-transform: none;
  width: 100%;
  padding: 8px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #01215b;
}
.button:hover {
  background-color: #a38526;
}
.button1 {
  text-transform: none;
  width: 100%;
  padding: 8px;
}

.bankdetails {
  margin: 10px;
  padding-top: 10px;
}

.select {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.select_title {
  font-size: 13px;
  font-weight: 300;
}

.select_options {
  display: flex;
  flex-direction: row;
  width: 65%;
  justify-content: space-between;
  align-items: center;
}

.select_option {
  font-size: 13px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 5px;
}

.radioInput {
  accent-color: red;
  transform: scale(1.2);
  cursor: pointer;
}
