/* Sidebar.module.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it's above other content */
  background-color:#d9d9d9;
  color: black;
  height:100%;
  width: 250px; /* Adjust width as needed */
  transition: transform 0.3s ease, width 0.3s ease; /* Add width transition */
}

.sidebarOpen {
  transform: translateX(0); /* Opened sidebar overlaps content */
  width: 250px; /* Adjust width as needed */
}

.sidebarClosed {
  transform: translateX(-100%); 
  width: 0; 
}

.duration {
  transition-duration: 0.3s;
}

.control {
  position: absolute;
  top: 20px;
  right: -40px; /* Adjust to position control button */
  width: 25px;
  height: 25px;
  border: 2px solid #9f7aea;
  border-radius: 50%;
  background-color: transparent;
  color: #9f7aea;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotate {
  transform: rotate(180deg);
}



.text {
  font-size: 18px;
}

.scale {
  transform: scale(0);
}

.pt {
  padding-top:5px;
  
}

.listItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-top:8px;
  margin-left: 10px;
  margin-bottom: 10px;
  gap: 5px;
  border-radius: 5px;
}

.mt9 {
  margin-top: 9px;
}


.hidden {
  display: none;
}

/* New styles for close button and sidebar content */
.content {
  position: relative;
}

.logo{
  margin-top: 5px;
   margin-left: 15px;
  margin-bottom: 10px;
}
.openBtn{
  padding-bottom: 10px;
   cursor: pointer;
}
.arrow{
  margin-top: 5px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 0; /* Adjust top position to align with the top edge of the sidebar */
  cursor: pointer;
 
}
/* Sidebar.module.css */

/* Existing styles remain unchanged */

.closedContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.closedList {
  list-style: none;
  padding: 0;
}

.closedListItem {
  margin-bottom: 10px;
}

.icon {
  font-size: 20px;
  color:black;
  cursor: pointer;
}
.divider {
  border-bottom: 1px solid #ccc; /* Add a bottom border to create a visual divider */
  margin-bottom: 5px; /* Adjust margin for spacing */
}

.icons{
  display: flex;
  flex-direction: row;
  gap: 10;
  padding-left: 20px;
}
.icon{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top:10px;
  
}