.lists{
    display: flex;
    flex-direction: column;
    gap: 9px;
    color: #ffffff;
    background-color: #a38526;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    padding-bottom: 0.5rem;

}
.transfers{
    margin-top: 23px;
    font-weight: 600;
    color:#01215b ;
}