.list2{
    display: flex;
    flex-direction: column;
    gap: 9px;
    background-color: #ffffff;
    margin-top: 5px;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    padding-bottom: 1rem;

}
.transfers{
    margin-top: 33px;
    font-weight: 600;
    color:#01215b ;
}