.container {
	display: grid;
	grid-template-columns: 0.2fr 3.8fr;
	height: 100%;
	gap: 15px;
}

.main {
	display: grid;
	grid-template-rows: 0.25fr 3.5fr 0.25fr;
}

.main_body {
	display: grid;
	grid-template-rows: 3.2fr 0.8fr;
}
.main_body_upper {
	display: grid;
	grid-template-columns: 0.8fr 3fr;
	gap: 15px;
}
