.layout {
	display: flex;
	height: 100vh;
	position: relative;
}
.layout_main {
	flex-grow: 1;
}

.main_dashboard {
	padding: 2rem;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 2rem;
}

.main_right {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1rem;
	margin: 1rem 0rem;
}
<<<<<<< HEAD
=======

.main_center {

}
>>>>>>> 512ddd027974c68dda1f68eb1d0c8897cb683918
