.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.select {
	width: 200px;
	height: 30px;
}

.input {
	background-color: whitesmoke;
	text-align: left;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	border: none;
	outline: none;
}

.button {
	width: 100px;
	height: 30px;
	background-color: #a38526;
	color: white;
	border: none;
	cursor: pointer;
}

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header,
.footer {
	height: 60px;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sidebar {
	padding-left: 15rem;
	flex: 1 1 400px;
}

.content {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
